/* src/index.css */

/* Apply global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #880e4f;
    /* Dark Magenta Text */
    background-color: #fce4ec;
    /* Light Magenta Background */
}

a {
    color: inherit;
    /* Ensure links inherit color from theme */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* Add underline on hover */
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.container {
    padding: 1rem;
}

@keyframes highlight {
    0% {
        border: 2px solid inherit;
    }

    50% {
        border: 2px solid #f50057;
        /* Color for highlighting */
    }

    100% {
        border: 2px solid inherit;
    }
}

.highlight {
    animation: highlight 1s ease-in-out;
}